[2016-07-14 13:24] ldecicco-USGS opened #3 "OWI banner needs to be swapped out"
At minimum, just take out the banner.
Better, swap in the USGS-R banner

[2016-07-14 13:25] ldecicco-USGS opened #4 "Previous/Next"
Right now, they are just sitting on the bottom off to the left. It would be nice to pretty that up (at least putting the Next link off to the right).

[2016-07-14 13:29] ldecicco-USGS opened #5 "Links to content in Outline"
I didn't spend much time trying to figure it out. I'm guessing there's a way to reference those without hardcoding the url...but I haven't figured it out.

[2016-07-14 13:46] ldecicco-USGS opened #6 "Add intro-curriculum bucket to dev"
I set up a dev jenkin's job, but the last error is:

An error occurred (NoSuchBucket) when calling the ListObjects operation: The specified bucket does not exist

@jiwalker-usgs can you help me out?

[2016-07-14 13:48] ldecicco-USGS commented on #6
And while we're thinking about it, can we get dev/prod in one Jenkin job?

[2016-07-14 14:45] ldecicco-USGS opened #7 "Automate content"
It's pretty easy to do this by hand, so if it ends up being hard to automate, we shouldn't let the automation stop us.

1. No ":" in titles (maybe just change them all on the vignette level to a dash)
2. Delete the last 3 lines:
<pre>
[code]
</pre>
3. Change headers
	FROM:
[code]

	to:
[code]
4. Order dates so that the posts appear in order ("Outline" should have the most latest date...ie "2016-07

[2016-07-14 15:26] #6 closed

[2016-07-14 16:03] lindsaycarr opened #11 "Remove "Workshop Schedule""
Keep in the Google doc - it's too difficult to make simple updates and have it posted online (could change from workshop to workshop).

https://docs.google.com/document/d/1X1ccWdV1TzhgVRoEoxAcqLZ8FfM_AOIW_gEiIN1NzKs/edit#

[2016-07-14 16:06] ldecicco-USGS commented on #5
Removed the actual Ouline...but still don't really know how to link to specific pages (relatively...could hard-code it, but that's no fun)

[2016-07-14 16:06] #5 closed

[2016-07-14 16:07] #11 closed

[2016-07-14 16:09] lindsaycarr commented on #11
Fastest completed issue EVER

[2016-07-14 20:46] lindsaycarr commented on #3
@mwernimont how much effort would this be?

[2016-07-15 13:55] mwernimont commented on #3
@ldecicco-USGS @lindsaycarr I'm confused, the USGS Banner needs to be swapped out? Or you using banner in a context I'm not latching onto?

[2016-07-15 14:02] mwernimont commented on #3
What website or place are we looking at I guess is a good question to ask too? http://owi.usgs.gov/R/ or http://usgs-r.github.io/ or neither?

[2016-07-15 15:41] lindsaycarr commented on #3
We want a new tab on owi.usgs.gov/R called `Intro R Curriculum` or `R Curriculum`. That would contain the stuff in this repo. Hoping to get an OWI-styled banner, but with the owi.usgs.gov/R tabs (rather than People, Products, etc). @ldecicco-USGS can weigh in here too

[2016-07-15 17:21] #3 closed

[2016-07-15 17:21] #7 closed

[2016-07-15 17:22] ldecicco-USGS opened #14 "Add title to tags"
Will make a nicely automated sidebar navigation

[2016-07-15 17:25] ldecicco-USGS opened #15 "Grid sizes consisent"
For this repo, we will only ever have 10 posts (at least in the near term). So, we can probably do a little more work to make those 10 posts look nice on the grid page:

http://dev-owi.usgs.gov-website.s3-website-us-west-2.amazonaws.com/R/intro-curriculum/

I've vote they are all the same size. Much shorter. I'll leave it up to @mwernimont to figure out specifics.

[2016-07-15 17:29] ldecicco-USGS opened #16 "Special icons"
It would be pretty sweet to have special icons for each grid here:

http://dev-owi.usgs.gov-website.s3-website-us-west-2.amazonaws.com/R/intro-curriculum/

The topics are:

1. Introduction
2. Get
3. Clean
4. Explore
5. Analyze
6. Analyze II
7. Visualize
8. Visualize II
9. Repeat-ability
10. Parting Thoughts

I'd vote #1 is our USGS-R icon, maybe #10 too. But after that, I'd love to see if @mwernim

[2016-07-16 04:06] #14 closed

[2016-07-18 18:58] lindsaycarr opened #19 "change repo name to training-curriculum"
if we start advanced or intermediate R material, it will live here also

[2016-07-18 18:58] lindsaycarr opened #20 "use Hugo site feature instead of blog"

[2016-07-18 19:00] lindsaycarr opened #21 "add material for SWFLWMD training"
- [x] schedule
- [x] instructors
- [x] ~~git/github section~~

[2016-07-19 20:31] lindsaycarr opened #22 "add materials to the site from Google docs for all training"
- [x] additional topics in R
- [x] USGS-R packages
- [x] example schedule
- [x] crib sheet
- [x] CSV files (`IonBalance.csv`, csv created using `create_df.R`)
- [x] update curriculum to reflect location of the csv files (see Get)

[2016-07-20 13:57] mwernimont commented on #16
![intro-1](https://cloud.githubusercontent.com/assets/6390096/16989008/09361cc0-4e58-11e6-8349-0e23ab1a426e.jpg)
![intro-2](https://cloud.githubusercontent.com/assets/6390096/16989006/0930ac9a-4e58-11e6-9ca1-1afa889d2f61.jpg)
![intro-3](https://cloud.githubusercontent.com/assets/6390096/16989007/0931bb58-4e58-11e6-9017-9f4e96df3b2e.jpg)

[2016-07-20 13:58] mwernimont commented on #16
@lindsaycarr @ldecicco-USGS @jread-usgs Looking for feedback and suggestions

[2016-07-20 14:04] jread-usgs commented on #16
Cool!

For the `ggplot2` one, I think you should just re-style the base one:

![image](https://cloud.githubusercontent.com/assets/2349007/16989220/f3242c46-4e58-11e6-9118-53757ec64a25.png)

[2016-07-20 14:05] jread-usgs commented on #16
This is what ggplot graphs tend to look like by default:
![image](https://cloud.githubusercontent.com/assets/2349007/16989247/0dea39bc-4e59-11e6-9642-68bcb27b66ba.png)

[2016-07-20 14:10] lindsaycarr commented on #16
Only one I am not a huge fan of is the microscope - wondering if we can't find something that relates a little more.

[2016-07-20 14:11] mwernimont commented on #16
@lindsaycarr Gotta help me out with that, you guys know R a ton more than I

[2016-07-20 14:14] jread-usgs commented on #16
I agree - and an easy way to do it is to expand on the icon w/ `Analyze`. So `Analyze with packages` would be the same icon but with a small difference. Maybe @lindsaycarr has ideas?

[2016-07-20 14:27] mwernimont commented on #16
![intro-2](https://cloud.githubusercontent.com/assets/6390096/16990048/30f0809e-4e5c-11e6-96e8-41099a200f7c.jpg)

Ignore the microscope, thoughts on the bottom right?

[2016-07-20 14:41] mwernimont commented on #16
![intro-2](https://cloud.githubusercontent.com/assets/6390096/16990560/05aff002-4e5e-11e6-9e02-e1ecfc4cfab1.jpg)

@lindsaycarr @jread-usgs Upper right? Too much?

[2016-07-20 14:41] aappling-usgs commented on #16
hee hee! I love it

[2016-07-20 14:53] lindsaycarr commented on #16
nailed it @mwernimont !

[2016-07-20 14:55] lindsaycarr commented on #16
@mwernimont I think we wanted to keep the base R visualize one that lines/points icon (the ggplot2 one would be that but also include a background)

[2016-07-20 14:55] mwernimont commented on #16
@lindsaycarr Alright I can make that switch.

[2016-07-20 16:35] jread-usgs commented on #16
Make sure the two "analyze" magnifying glasses are the same. Looks like the one on the right is a different size/shape and in a different location:
![image](https://cloud.githubusercontent.com/assets/2349007/16994702/17861c56-4e6e-11e6-8872-2362381d4b3e.png)

[2016-07-20 16:50] mwernimont commented on #16
Yeah, the got resized wrong in the mockup but will be the same size in the app

[2016-07-21 18:34] lindsaycarr opened #24 "drop down on Training"
Three actions when interacting with Training tab:
1. **Click the tab:** takes you to our current training page w/ map and reviews
2. **Hover on Training and click _Introduction to R Curriculum_ drop down:** takes you to our Hugo intro-curriculum (see topic on #r-training slack channel)
3. **Hover on Training and click _Course-specific materials_ drop down:** takes you to another page that Lindsay

[2016-07-21 20:21] lindsaycarr commented on #22
See gsIntroR pull request [37](https://github.com/USGS-R/gsIntroR/pull/37)

[2016-07-21 20:53] lindsaycarr commented on #4
Closed by #18

[2016-07-21 20:53] #4 closed

[2016-07-21 20:53] lindsaycarr commented on #15
Closed by #23

[2016-07-21 20:53] #15 closed

[2016-07-21 20:59] lindsaycarr opened #26 "tags don't seem like the right thing for that side bar"
The tags on the right look like a blog table of contents, but there purpose is to group blogs so you can search one theme. That doesn't really make sense for this use case. It's especially annoying because when you click on a tag, you have to click on the grid thing as well. There's got to be a better solution for an overall table of contents.

![image](https://cloud.githubusercontent.com/assets/1

[2016-07-22 18:33] lindsaycarr commented on #24
Updated on [usgs-r-website](https://github.com/USGS-R/usgs-r-website) in [PR 120](https://github.com/USGS-R/usgs-r-website/pull/120)

[2016-07-22 18:33] #24 closed

[2016-07-22 18:42] lindsaycarr commented on #26
closed by #25

[2016-07-22 18:42] #26 closed

[2016-07-22 18:44] #20 closed

[2016-07-25 14:39] ldecicco-USGS commented on #16
so....we getting these in a PR @mwernimont ?

[2016-07-25 14:57] mwernimont commented on #16
@ldecicco-USGS Well was hoping to get them in myself but can't figure out how to do that, so can get them to you

[2016-07-25 15:02] ldecicco-USGS commented on #16
I can do it...but if you want to try, the markdown files for each "post" look like this:
[code]
you just need to add a line about image...so it would look like:

[code]
....unless you tried that already...

[2016-07-25 15:14] mwernimont commented on #16
I did not, but now that I have the blueprint I can do it! thank you

[2016-07-25 15:56] mwernimont commented on #16
@ldecicco-USGS #29 PR merged, icons in place if I did it correctly, which I believe I did

[2016-07-25 16:05] lindsaycarr commented on #16
@mwernimont can you change the last icon from OWI to USGS-R? Otherwise, these look awesome!!!

[2016-07-25 16:14] mwernimont commented on #16
@lindsaycarr  #30 takes care of that

[2016-07-25 16:17] #16 closed

[2016-07-25 16:19] lindsaycarr commented on #19
@ldecicco-USGS can you change the name? We plan to have folders with intermediate, advanced, etc curriculum in the future and want the name to be more generic. I'm not sure how many downstream effects this has

[2016-07-25 17:59] ldecicco-USGS commented on #19
OK, people will need to change their remotes.

[2016-07-25 17:59] #19 closed

[2016-07-25 21:09] lindsaycarr opened #32 "images from figure/ folder not showing up in posts"
From A:

![image](https://cloud.githubusercontent.com/assets/13220910/17117557/284c09fc-5282-11e6-8336-f51431ef811e.png)

[2016-07-25 21:15] ldecicco-USGS commented on #32
I think all the `fig.path="static/Introduction/"` need to now be:
`fig.path="intro-curriculum/static/Introduction/"`

Make sense?

[2016-07-25 21:33] ldecicco-USGS commented on #32
Actually in that particular example, those are paths to images (not generated from R)...and I don't see any of those figures pushed to github. You might not need to do what I said then in my previous comment....I don't know...adding these folders will really complicate paths, so you have to be really careful.

[2016-07-25 21:54] lindsaycarr commented on #32
I added that so that the plots rendered from code would show up, but yeah still struggling for things from the figure/ folder to show.

[2016-07-25 21:54] #22 closed

[2016-07-25 21:57] lindsaycarr opened #34 "figure out top-level nav w/ usgs-r-website"
Need drop downs in Training tab to link to appropriate things:

![image](https://cloud.githubusercontent.com/assets/13220910/17118975/dd04641a-5288-11e6-8a3c-fccee3cc8329.png)

[2016-07-25 21:59] lindsaycarr opened #35 "data page not able to download/link to CSVs"

[2016-07-25 21:59] ldecicco-USGS opened #36 "Adding in alt text"
I figured out a way to do this:

Change the initial kniter chunk to:
[code]

Then, in each chunk that produces a figure, add `fig.cap` to the chunk options:

[code]

[2016-07-25 22:00] ldecicco-USGS opened #37 "message=FALSE"
add that and warning=FALSE to make a lot of things nicer

[2016-07-25 22:01] lindsaycarr commented on #37
that is my current PR

[2016-07-25 22:01] lindsaycarr commented on #37
oh wait, message=FALSE is not

[2016-07-26 11:45] ldecicco-USGS commented on #36
Note I edited the comment a little later, in case you copied it right away. Check out the blog posts for examples.

[2016-07-26 14:14] ldecicco-USGS opened #40 "Failed to parse date '<nil>' in page course_specific_links.md"
ERROR: 2016/07/26 06:57:01 page.go:555: Failed to parse date '<nil>' in page course_specific_links.md

It's not updating on dev because of the above message

[2016-07-26 14:20] lindsaycarr commented on #40
Hmmm maybe it's because there's a date in the .md but not in the .Rmd

[2016-07-26 14:22] lindsaycarr commented on #40
Strange because the .Rmd on my fork has a date https://github.com/lindsaycarr/intro-curriculum/blob/master/content/course_specific_links.Rmd

[2016-07-26 14:22] ldecicco-USGS commented on #40
I'm guessing it's because the "slug" is empty....

[2016-07-26 17:39] lindsaycarr commented on #34
_Introduction to R Curriculum_ goes to `training-curriculum/intro-curriculum`

_Course Specific Materials_ goes to `training-curriculum/course_specific_materials`

[2016-07-26 18:01] lindsaycarr commented on #40
Closed with #42

[2016-07-26 18:01] #40 closed

[2016-07-26 18:25] ldecicco-USGS opened #43 "Blog styles"
@mwernimont can you copy over the same css you added this morning to the blog post to this repo?

These are the USGS-OWI/blog pull requests:
PR#71
PR#70
PR#69

[2016-07-26 21:30] lindsaycarr commented on #34
Need to figure out difference between `http://localhost:1313/` and `http://localhost:1313/intro-curriculum/`. How can I manipulate what it's doing?

[2016-07-26 21:32] lindsaycarr commented on #32
Fixed by #45

[2016-07-26 21:32] #32 closed

[2016-07-26 21:32] lindsaycarr commented on #35
Fixed by #45

[2016-07-26 21:32] #35 closed

[2016-07-26 21:33] lindsaycarr commented on #36
Fixed by #45

[2016-07-26 21:33] #36 closed

[2016-07-26 21:33] lindsaycarr commented on #37
Fixed by #45

[2016-07-26 21:33] #37 closed

[2016-07-26 21:47] ldecicco-USGS commented on #43
So I merged the code style, but we'll still want to shorten up the "notecards".

[2016-07-27 14:02] mwernimont commented on #43
@ldecicco-USGS #46 Takes care of this

[2016-07-27 14:16] #43 closed

[2016-07-27 17:17] lindsaycarr opened #48 "spiff up front nav pages"
Home and Course Specific Material pages linked in Menu

@lindsaycarr: content describing the different courses we offer

@mwernimont: styling

[2016-07-27 17:20] lindsaycarr opened #50 "collapsible menus on sidebar"
Can we get the _Introduction to R Course_ and the _Course Specific Materials_ parents be collapsible menus? This would happen in `sidebar.html`, but I can't seem to figure it out.

[2016-07-27 17:25] mwernimont commented on #50
So I'm confused, where do you see these in the sidebar?

[2016-07-27 17:30] lindsaycarr commented on #50
Sorry - the PR that's open right now has to be merged first. Should have written that down

[2016-07-27 18:00] lindsaycarr commented on #50
@mwernimont you should be good now, #49 has been merged

[2016-07-27 18:06] mwernimont commented on #50
So you want the two list items on the left to be collapsable?

[2016-07-27 18:13] lindsaycarr commented on #50
Nope, those to things in the menu on the right:

![image](https://cloud.githubusercontent.com/assets/13220910/17186703/e5c574da-53fb-11e6-97e7-ab13ec60da63.png)

[2016-07-27 18:14] mwernimont commented on #50
I'll see what I can do

[2016-07-27 18:15] lindsaycarr commented on #34
Fixed by #49 and usgs-r-website [PR 125](https://github.com/USGS-R/usgs-r-website/pull/125)

[2016-07-27 18:15] #34 closed

[2016-07-27 20:21] lindsaycarr commented on #48
I don't want to duplicate what is on the main training page in usgs-r-website, so I kept it simple. See #52

[2016-08-22 15:34] ldecicco-USGS opened #62 "Training -> Course Specific link wrong"
On the prod drop-down banner it's wrong

On the sidebar, it's correct.

Right:
https://owi.usgs.gov/R/training-curriculum/course-specific-material/

Wrong:
https://owi.usgs.gov/R/training-curriculum/course-specific-links

[2016-08-22 15:40] lindsaycarr commented on #62
Yep - Marty is fixing with #61

[2016-08-22 15:41] lindsaycarr commented on #62
(well I just wrote found that and added it there as an issue at the same time you made this)

[2016-08-22 15:41] lindsaycarr commented on #50
it works!

[2016-08-22 15:41] #50 closed

[2016-08-23 16:25] lawinslow opened #65 "Double slash in training dropdown"
here:
https://github.com/USGS-R/training-curriculum/blob/master/themes/hugo_theme_robust/layouts/partials/header_after.html#L61-L74

I think that slash before the var needs to be removed.
See [without slash](http://dev-owi.usgs.gov-website.s3-website-us-west-2.amazonaws.com/R/training-curriculum/intro-curriculum/), vs [with slash](http://dev-owi.usgs.gov-website.s3-website-us-west-2.amazonaws.com/

[2016-08-23 20:05] #65 closed

[2016-08-30 21:35] #62 closed

[2016-08-30 21:35] #48 closed

[2016-08-30 21:44] ldecicco-USGS opened #68 "Fix IE style issues"
@jiwalker-usgs thinks "looks like maybe it is forcing it into mobile layout?"

Anyway, it looks bad in IE (there will be a similar issue in owi-blog....)

[2016-10-21 20:05] #21 closed

[2016-10-25 16:59] lindsaycarr opened #89 "template for this diff from blogs"
USGSmarkdowntemplates needs different header template

[2016-10-25 16:59] lindsaycarr commented on #89
DUE YESTERDAY!

[2016-10-25 18:27] wdwatkins commented on #89
😁 https://github.com/USGS-R/USGSmarkdowntemplates/pull/10

[2016-10-30 18:58] jiwalker-usgs opened #93 "use set.seed in clean section"
Exercise 2 does this:

[code]

comment mentions `sample_n` which could be used like:

[code]

and then the class will be on the same page.

[2016-10-31 16:17] lindsaycarr commented on #89
Changes for USGSmarkdowntemplates:
- https://github.com/USGS-R/USGSmarkdowntemplates/pull/10
- https://github.com/USGS-R/USGSmarkdowntemplates/pull/12
- https://github.com/USGS-R/USGSmarkdowntemplates/pull/13
- https://github.com/USGS-R/USGSmarkdowntemplates/pull/14

Changes for training-curriculum:
- #90
- #91

[2016-10-31 16:17] #89 closed

[2016-10-31 16:18] lindsaycarr commented on #68
Closed by #70

[2016-10-31 16:18] #68 closed

[2017-01-10 21:10] wdwatkins opened #98 "read in new data frame for forgotten data"
Need to read in a new data frame for the forgotten data section in `clean`, rather than creating a data frame by hand.  New DF will need to be added to the website as well.

[2017-01-19 22:38] #98 closed

[2017-01-19 22:42] lindsaycarr opened #101 "add details for software requirements to Getting Started"
Currently just says "See Before the Workshop" and links to the intro instructions. Maybe this is good enough?

[2017-01-20 14:02] lindsaycarr opened #102 "closing thoughts page"
Course Authors:

Lindsay Carr
Alison Appling
Laura DeCicco
Jordan Walker

Additional Resources:

- USGS-R Community website: owi.usgs.gov/R
- dataRetrieval publication: pubs.usgs.gov/tm/04/a10/pdf/tm4A10_appendix_1.pdf
- geoknife publication: pubs.er.usgs.gov/publication/70159899
- sbtools publication: pubs.er.usgs.gov/publication/70176357
- Package code + issue tracking: www.github.com/USGS-R
- O

[2017-01-20 14:04] lindsaycarr opened #103 "dataRetrieval: accessing timeseries data"
This is the intro page for the dataRetrieval module. Include some background.

Lesson 1 Summary
Learn about data available in the National Water Information System (NWIS) and Water Quality Portal (WQP). Discover how to construct your retrieval calls to get exactly what you are looking for, and access information stored as metadata in the R object.

Lesson Objectives
By the end of this lesson, the

[2017-01-20 14:05] lindsaycarr opened #104 "dataRetrieval: data discovery"
Parent: dataRetrieval: accessing timeseries data

What data is available?

- NWIS and WQP overview
- Basic web retrieval parameters
- Discovering data using dataRetrieval functions

[2017-01-20 14:06] lindsaycarr opened #105 "dataRetrieval: readNWIS"
Parent: dataRetrieval: accessing timeseries data

- Available functions for pulling NWIS data
- Parameters available to specify location, time span, and type of data
- Exploring metadata
- Examples

[2017-01-20 14:07] lindsaycarr opened #106 "dataRetrieval: readWQP"
Parent: dataRetrieval: accessing timeseries data

- Available functions for pulling WQP data
- Parameters available to specify location, time span, and type of data
- Exploring metadata
- Examples

[2017-01-20 14:08] lindsaycarr opened #107 "geoknife: accessing gridded data"
Lesson Summary
Explore and query large gridded datasets for efficient and reproducible large-scale analyses.

Lesson Objectives

By the end of this lesson, the learner will be able to:
1. Explain the differences between remote and local processing.
2. Differentiate the three main concepts of this package: fabric, stencil, and knife.
3. Use this package to retrieve pre-processed data from the Geo D

[2017-01-20 14:09] lindsaycarr opened #108 "geoknife: data discovery"
Parent: geoknife: accessing gridded data

What data can be accessed using geoknife?

- GeoDataPortal (GDP)
- Datasets not in GDP
- Advantages of remote processing

[2017-01-20 14:10] lindsaycarr opened #109 "geoknife: construct and execute calls"
Parent: geoknife: accessing gridded data

Basic geoknife functionality

- Three main components: fabric, stencil, knife
- Making the geojob
- Exploring parameter options

[2017-01-20 14:11] lindsaycarr opened #110 "geoknife: troubleshooting"
Parent: geoknife: accessing gridded data

Advanced geoknife features

- Diagnosing job problems

[2017-01-20 14:11] lindsaycarr opened #111 "sbtools: accessing cloud-based data"
Lesson Summary

- Learning how ScienceBase can enhance traditional collaborative research analyses, and learning how to access it from the R console in order to create reproducible workflows.
- What is ScienceBase?
- Who can use it?
- Why is this better than local files or shared drives?

Lesson Objectives
By the end of this lesson, the learner will be able to:
1. Query ScienceBase for data from R

[2017-01-20 14:12] lindsaycarr opened #112 "sbtools: ScienceBase"
Parent: sbtools: accessing cloud-based data

- What is ScienceBase?
- Who can use it?
- Why is this better than local files or shared drives?

[2017-01-20 14:13] lindsaycarr opened #113 "sbtools: data discovery"
Parent: sbtools: accessing cloud-based data

Exploring available data

- Data browsing and searching through the ScienceBase web interface
- Data queries with the sbtools interface
- Leveraging the best of both interfaces

`9999-07-25`

[2017-01-20 14:14] lindsaycarr opened #114 "sbtools: getting data"
Parent: sbtools: accessing cloud-based data

Retrieving data

- Inspecting and downloading files
- Using ScienceBase's web feature services to visualize spatial data

`9999-07-01`

[2017-01-20 14:14] lindsaycarr opened #115 "sbtools: modifying data"
Parent: sbtools: accessing cloud-based data

Adding/modifying data

- Creating ScienceBase items and "folders"
- Uploading your files
- Organizing and querying your files
- Replacing and deleting your files

`9999-06-25`

[2017-01-20 14:16] lindsaycarr opened #116 "Application of a modular workflow"
Lesson Summary
- Use the packages and some of their functions to create a common data analysis workflow in a modular and reproducible manner. Then, see how this approach handles common scenarios when compared to traditional analyses.
- What is modularity and why is it more reproducible?

Lesson Objectives
By the end of this lesson, the learner will be able to:
1. Automate retrieval and plotting of

[2017-01-20 14:17] lindsaycarr opened #117 "Application - Part 1: Determine sites and regions."
Parent: Application of a modular workflow

- NWIS water quality data (dataRetrieval)
- Precipitation data (geoknife)
- [some SB data] (sbtools)

`9999-05-25`

[2017-01-20 14:18] lindsaycarr opened #118 "Application - Part 2: Download nutrient and precipitation data."
Parent: Application of a modular workflow

Use some dpylr, tidyr, etc and filter, select, rename, mutate, or transform the data. Should be fairly structured to prompt everyone to get the same results.

`9999-05-01`

[2017-01-20 14:20] lindsaycarr opened #119 "Application - Part 3: Create a maps and time series plots of data."
Parent: Application of a modular workflow

Use gsplot?

`9999-04-25`

[2017-01-20 14:21] lindsaycarr opened #120 "Application - Part 4: Automate and add to SB"
Parent: Application of a modular workflow

Use loops and maybe some conditional structures to automate this workflow for a few different sites.

`9999-04-01`

[2017-01-20 14:25] lindsaycarr opened #121 "Application - Part 5: Complete workflow"
Parent: Application of a modular workflow

- SPN says all of your plots legends need a title.
- Your boss contacts you and says she wants this same analysis but for a different water quality parameter.
- A reviewer says they don’t agree with the method you used.
- [something that showcases modularity specifically as useful]

`9999-03-25`

[2017-01-20 14:25] lindsaycarr opened #122 "add gsplot module?"
It was in the original proposal, but no the IDD. Could add later and just modify the Application section.

[2017-01-20 14:31] lindsaycarr commented on #112
going to include this in the initial sbtools introduction, see #111

[2017-01-20 14:31] #112 closed

[2017-01-20 14:36] lindsaycarr opened #123 "remove draft status from all pages"
Currently, everything has `draft: true` in the Rmd. This keeps it on the Dev website and never allows it to be built on Prod. Remove that line + re-knit everything. Then a push to prod will make everything show up!

[2017-01-20 14:38] lindsaycarr opened #124 "add parent course name to config.toml"
There is no title for the course in `config.toml` file that will allow people to navigate to all the pages.

[2017-01-20 14:39] lindsaycarr opened #125 "is this 508 compliant?"
check here before we get too far with the course pages

[2017-01-20 14:58] lindsaycarr opened #126 "dataRetrieval: assessment"
Parent: dataRetrieval: accessing timeseries data

Match function names with what type of data they access.

[2017-01-20 15:21] lindsaycarr opened #127 "geoknife assessment"
Parent: geoknife: accessing gridded data

Differentiate the parameters that are required for fabric, stencil, and knife.

[2017-01-20 15:23] lindsaycarr opened #128 "sbtools assessment"
Parent: sbtools: accessing cloud-based data

Use sbtool functions to find and retrieve a test dataset. Then answer multiple choice and T/F questions about that dataset.

[2017-01-20 16:09] lindsaycarr opened #129 "glossary of terms/functions"
the IDD suggests including a glossary so users can easily jump to definitions

- functions: [short description]. See `?[function name]`
- other terms just define

[2017-01-20 16:30] lindsaycarr opened #130 "order the pages correctly"
Use fake dates in the header to get pages ordered correctly. See Introduction to R curriculum for examples.

Specifying `weight:` to order correctly in menu. This might be specifically for the grid view

[2017-01-20 16:32] lindsaycarr opened #131 "pretty images for each lesson"
Have Marty make pretty images for each package as he did for the Introduction to R stuff.

Only for major topics:

- Getting Started page
- dataRetrieval: accessing time series data
- geoknife: accessing gridded data
- sbtools: accesssing cloud-based data
- Application of a modular workflow

[2017-01-20 16:34] lindsaycarr opened #132 "Getting Started page"
intro page for the course

[2017-01-20 18:29] lindsaycarr opened #133 "figure out nesting menu within Introduction to USGS R Packages"
would like:

Introduction to USGS R Packages
- Getting Started
- dataRetrieval - accessing time series data
     - Data discovery
     - readNWIS
     - readWQP
- geoknife -accessing gridded data
.
.
.

[2017-02-09 20:59] lindsaycarr opened #140 "Improvements from SA WSC training"
- [x] Fix Clean Exercise 2. Generate random values
- [x] In Clean, have extra data as CSVs, not creating data.frames
- [x] Fix Visualize 1, Exercise 1, Q1. Confusing wording.
- [x] Move group_by + summarize into Explore (actual curriculum). Then update instructor map.
- [x] Finish adding Exercises to instructor map

[2017-02-09 21:04] lindsaycarr opened #141 "Add a “Coming Soon” section ?"
For USGS R packages, maybe R pkg dev workshop, etc

[2017-02-13 17:09] lindsaycarr commented on #141
Splash page for the "USGS R packages" page on owi.usgs.gov/R/training-curriculum/usgs-r-packages

"Currently in development"

[2017-02-13 18:18] lindsaycarr commented on #104
I'm going to call this complete for now. Any additional changes based on WQP updates will be made along with the dataRetrieval updates. See https://github.com/USGS-R/dataRetrieval/issues/306 for more details.

[2017-02-13 18:19] #103 closed

[2017-03-01 16:39] lindsaycarr commented on #105
`date: "9999-11-01"`

[2017-03-01 16:39] lindsaycarr commented on #106
date: "9999-10-31"

[2017-03-01 16:40] lindsaycarr commented on #107
`date: "9999-10-01"`

[2017-03-01 16:40] lindsaycarr commented on #109
`date: "9999-09-01"`

[2017-03-01 16:40] lindsaycarr commented on #110
`date: "9999-08-31"`

[2017-03-03 16:22] #140 closed

[2017-03-06 20:52] lindsaycarr commented on #108
In setting process algorithm example, waiting for GDP to update the names of the available data sets. Currently, two are named `OPeNDAP Subset`. Shouldn't have to fix anything in code. Just need to update geoknife and re-knit.

[code]

[2017-03-06 23:53] #93 closed

[2017-03-06 23:55] #107 closed

[2017-03-08 23:31] lindsaycarr commented on #105
For `readNWISuse`:

**Aggregate National Data**
POP,TW,PS,SD,L,I,TP,SI,M,C,A

**Aggregate County and State Data**

- AQ	Aquaculture
- CO	Commercial
- DO	Domestic
- HY	Hydroelectric Power
- IC	Irrigation, Crop
- IG	Irrigation, Golf Courses
- IN	Industrial
- IT	Total Irrigation
- LA	Livestock (Animal Specialties)
- LI	Livestock
- LS	Livestock (Stock)
- MI	Mining
- OI	Other Industrial
- PC	Thermoelec

[2017-03-17 19:11] wdwatkins opened #150 "bugs from NM"
- [x] t.test in explore should be between estimated and approved, since other codes are now removed in clean
- [x] third lesson goals bullet in clean mentions base `merge()` but we don't use that anymore
- [x] add s to http to GRAN repo in setup instructions
- [x] add better example of using dplyr joins using lat/lon data for the sites in intro_df. Delete the unnecessary csvs used for the current

[2017-03-23 19:39] lindsaycarr commented on #108
@jiwalker-usgs any idea when that will be updated?

[2017-03-23 19:46] jiwalker-usgs commented on #108
I fixed it in the code, we just need to release and deploy.  Not sure of timeline.

[2017-03-23 19:48] lindsaycarr commented on #108
OK, I'll check back in on this one in a little while.

[2017-03-24 15:24] lindsaycarr opened #152 "What is a package?"
1. Distinguish scripts and packages.
2. Discuss situations where a package would be better than a script. Identify your package scope.
~3. Define the required directories and files for a package.~
4. Compare and contrast the package repositories GRAN and CRAN.
5. Recall USGS and DOI policies related to publishing and maintaining code.

`date: "9999-11-30"`

[2017-03-24 15:25] lindsaycarr opened #153 "Version control basics*"
1. Define version control and give examples of how it is useful.
2. Navigate the GitHub interface.
3. Summarize a typical GitHub-to-R workflow.

`date: "9999-10-31"`

[2017-03-24 15:25] lindsaycarr opened #154 "Defensive programming⁺"
1. Define defensive programming.
2. List common techniques for defensive programming.
3. Construct and execute defensive programming functions.

`date: "9999-09-30"`

[2017-03-24 15:25] lindsaycarr opened #155 "Writing tests⁺"
1. Describe the importance of tests.
2. Explain test-driven development.
3. Construct and execute simple tests using the testthat package.

`date: "9999-08-31"`

[2017-03-24 15:26] lindsaycarr opened #156 "Documentation⁺"
1. Distinguish the different types of documentation for R packages.
2. Develop documentation for individual functions.
3. Create a vignette to highlight the top-level package uses.
4. Edit and update README files.

`date: "9999-07-31"`

[2017-03-24 15:26] lindsaycarr opened #157 "Maintenance*"
1. Identify requirements of package maintenance.
2. Organize tasks on GitHub in Milestones and Projects.
3. Reference tasks in GitHub Pull Requests and Issues.
4. Use reviewer requests on GitHub.
5. Describe process to update packages on GRAN.

`date: "9999-06-30"`

[2017-03-24 15:26] lindsaycarr opened #158 "Application*"
1. Construct the directory skeleton of a package.
2. Design and develop functions, documentation, and tests from scratch.
3. Integrate local changes with GitHub.

[2017-03-24 15:43] lindsaycarr commented on #152
@jread-usgs open paper on tools stuff. Please link here.

[2017-03-24 16:03] lindsaycarr commented on #152
- sharing scripts via blog post might work depending on complexity of scripts
- some level of user interaction/options?
- package should be reused for the task(s) it's created for?
- publishing package has implications for long-term maintenance and use
- does having the package just on GitHub mean you're "on the hook" ?
- benefits of packages different from how package is advertised
- walk through

[2017-03-24 16:08] lindsaycarr commented on #152
Step 1: look at what exists about "what is a package". Hadley Wickham, Hilary Parker, Karl Broman, Jenny Bryan, rOpenSci, Dirk Eddelbuettel. We don't need to recreate the wheel on this.

[2017-03-24 16:11] aappling-usgs commented on #153
http://swcarpentry.github.io/git-novice/ - probably too long, but could be nice as a reference to share

[2017-03-24 16:14] lindsaycarr commented on #153
Already on the hook for summer institute, but less language specific. Could be good to share material. Most of this is version control in general, but ending shows how R and version control work well together.

Andrew Yan shared ppt w/ Lindsay recently. Talk with others on scrum (Mary Bucknell).

[2017-03-24 16:16] lindsaycarr commented on #154
- `tryCatch()`, `stop()`, `match.args()`, `stopifnot()`
- imagine and catch all the weird things users might do
- see Hadley's stuff

[2017-03-24 16:19] lindsaycarr commented on #155
- different types of tests: functional, unit, data, integration, etc
- define all types, maybe only cover a couple in actual course (unit, integration)
- continuous integration/travis (here or in #157)

[2017-03-24 16:21] lindsaycarr commented on #156
- roxygen syntax, use markdown syntax rather than LaTex? Limits examples we can show from our own packages.
- **EXAMPLES** in your docs
- everything in testthat are in examples

[2017-03-24 16:26] lindsaycarr commented on #157
- dependency management/bloat (too many dependencies = hidden maintenance costs)
- dependency trees

[2017-03-24 16:31] lindsaycarr commented on #153
vignette for vizlab -- how to collaborate (assigning tasks/getting reviews)

[2017-03-24 16:32] lindsaycarr opened #159 "Setup welcome page"
add instructions/requirements for header for other people working on this curriculum.
branching important since there's additional development happening on DL curriculum!

[2017-03-24 17:10] lindsaycarr opened #160 "Share material with people who couldn't make it."
Samuel Saxe
Austin Baldwin
Rich Alexander
Steve Dicks
Steve Corsi

[2017-03-27 16:08] lindsaycarr commented on #110
@jiwalker-usgs trying to distinguish which of the following should go into #109 versus here. What are your thoughts?

#109 will have a section on what the heck a `geojob` is, how to use `wait` and `email`, and then the final workflow for `geoknife` calls. All of these helper functions seem like they belong in troubleshooting. Am I missing anything else for troubleshooting?

[code]

[2017-03-27 16:22] jiwalker-usgs commented on #110
`check()` probably fits more in the normal workflow than troubleshooting, with `running()`, `error()`, and `successful()` as part of that.  I'd also suggest mentioning `wait()` along with these.  `id()` definitely belongs in troubleshooting as you end up digging in to more about the process.  We should be careful with `cancel()` as it doesn't actually cancel the process on the server, but just cle

[2017-03-28 19:48] lindsaycarr commented on #105
@ldecicco-USGS we merged #146, did you get a chance to take a look on DEV? I'd like to close this issue if you've done your check on dev and approve.

[2017-03-28 20:10] ldecicco-USGS commented on #104
Reopening because I'm not a fan of the line:
[code]

I think we need to hammer home that people should update **all** of their packages. There's a small chance that people could take that line to mean:

[code]
And that has been a thorn in my side (only updating 1 package when all the other dependencies might be *really, really* old)

Also, I'm updating `dataRetrieval` to reflect this, but there's

[2017-03-28 20:16] ldecicco-USGS commented on #105
Maybe make the `waterYear` example start on Oct. 1st so it's more obvious in the printout of `head`?

[code]

[2017-03-28 20:19] ldecicco-USGS commented on #105
I'd also change in the initial table from:
[code]
to
[code]

They aren't guaranteed to be a fixed interval.

[2017-03-28 20:21] lindsaycarr commented on #104
Ah, good point about the package updating. How about that sentence reads:
```Before continuing with this lesson, you should make sure that the dataRetrieval package is installed and loaded. If you haven't recently updated, you should reinstall the package by running install.packages('dataRetrieval`).```

There will be a section per #101 about installing packages. I think that would be a good place

[2017-03-28 20:25] ldecicco-USGS commented on #105
Maybe for `parameterCd` and `statCd` in the table, you could a links:

https://help.waterdata.usgs.gov/codes-and-parameters/parameters

https://help.waterdata.usgs.gov/code/stat_cd_nm_query?stat_nm_cd=%25&fmt=html

Also, just generally a link here would be a good addition:
https://help.waterdata.usgs.gov/

[2017-03-28 20:33] ldecicco-USGS commented on #105
I'm not a huge fan of Table 2...as it is I think it's more confusing than helpful. My first vote would be to take it out. The second vote would somehow indicate what functions the arguments are used in. Now I finally understand why you kept asking about `type	character can be "base", "corr", or "exsa"`...by itself, that makes no sense. At least if you know that argument is specific to the rating f

[2017-03-28 20:34] ldecicco-USGS commented on #105
Also, seems to be some formatting problem :
< name=“readnwisdata-county”

That's all I've got! Overall looks good!

[2017-03-28 20:44] lindsaycarr opened #163 "better code chunk styling"
It would be great if our Hugo code chunks were styled more like RStudio code. Seems arbitrary right now. This would be desired across the entire Hugo curriculum, but might be able to fit in with the tasks/budget for this DL course.

![image](https://cloud.githubusercontent.com/assets/13220910/24426409/37cf97f6-13cd-11e7-8b06-c41bd23c0c3c.png)

Why are "read" and "stat" red?

[2017-03-28 20:45] ldecicco-USGS commented on #163
I'd try to follow gitHub's "r" styling. There's a ton more that github does that we don't do for code style. I think we hit some, but not all...

[2017-03-28 21:20] lindsaycarr commented on #105
1. I don't want the WY example to start in October because I wanted to show how the column was different between two water years. I will change the `startDate` to "2014-09-28" so you can see the change from 2014 to 2015 when you run `head`.
2. Changed readNWISuv definition
3. I cannot add a link to the arguments table for parameterCd or statCd because that table is auto-generated using formals and

[2017-03-29 14:41] ldecicco-USGS commented on #105
3. a. You'd have to do some coding, something like:
[code]

3. b. I really appreciate that it's neat to auto-generate Table 2....but my concerns still stand. As a stand-alone table, it's confusing, and possibly mis-leading that people will think all arguments are available in all functions. I don't understand why it wouldn't be more helpful to emphasize that people go to the help pages because the

[2017-03-29 16:15] lindsaycarr commented on #105
@ldecicco-USGS my solution for your issues was to split it up. See #164.

[2017-03-29 16:16] lindsaycarr commented on #105
I like the code to get links into the table! I'm going to add that.

[2017-03-29 16:33] lindsaycarr opened #165 "some html tables extending outside of text region"
![image](https://cloud.githubusercontent.com/assets/13220910/24465689/8b521bfa-1473-11e7-9cbb-8c5eef9b1741.png)

[2017-03-30 17:19] lindsaycarr commented on #104
Sounds like this part is good now.

[2017-03-30 17:19] #104 closed

[2017-03-30 17:22] lindsaycarr commented on #105
I think this is good thanks to @ldecicco-usgs work in #167.

[2017-03-30 17:23] #105 closed

[2017-04-05 21:56] lindsaycarr commented on #150
@jiwalker-usgs column classes change? Is that happening soon?

[2017-04-06 14:59] jiwalker-usgs commented on #150
Thanks for the reminder

[2017-04-06 20:07] #150 closed

[2017-04-06 20:38] lindsaycarr opened #169 "use new geoknife email method"
New way to do email stuff for geoknife, but waiting for it to have more tests/vetting. See @jiwalker-usgs's suggestions from comments in https://github.com/USGS-R/training-curriculum/pull/162#discussion_r109768446.

[2017-04-06 20:43] #109 closed

[2017-04-26 16:51] lindsaycarr commented on #157
Is this where debugging should go?

[2017-04-26 16:55] ldecicco-USGS commented on #157
I'd vote make it it's own thing, and if the 2 topics are short enough, they could merge into 1 topic, but if not, they could both be stand-alone.

[2017-04-26 16:57] aappling-usgs commented on #157
Agreed with @ldecicco-USGS - if possible, make it super obvious by giving it its own title - this is possibly a  section that people will return to repeatedly over the following few months, so should be easy to find.

[2017-04-26 17:50] lindsaycarr opened #174 "Debugging"
1. Track down the source of an error.
2. Understand the different ways of debugging (`browser`, `traceback`, breakpoints)
3. Learn how to use the different debug buttons in RStudio.

`date: "9999-04-30"`

[2017-04-28 20:26] aappling-usgs commented on #174
http://adv-r.had.co.nz/Exceptions-Debugging.html#debugging-techniques

[2017-04-30 20:29] aappling-usgs commented on #154
Non-standard evaluation sometimes produces mysterious errors, says Hadley...but I can't think of any really good examples where NSE is worse than SE. Can anybody else? Here's the best I've come up with so far - it's obscure and unimpressive enough that I'm going to keep it out of my text, at least for now:

[code]

If anybody can come up with a more convincing example, I'm happy to add it. Especia

[2017-05-01 16:20] lindsaycarr commented on #174
@wdwatkins https://github.com/USGS-R/lakeReport/blob/master/debugging.Rmd

[2017-05-01 17:27] wdwatkins commented on #174
Will this go before or after testing?  I think it might make a good follow up to testing.

[2017-05-01 17:30] lindsaycarr commented on #174
I think we only go as far as "we should have this be a stand-alone section". I think it makes sense to go after testing. It also makes sense after Maintenance since this touches on debugging issues that users may find.

[2017-05-01 17:32] aappling-usgs commented on #174
Also note a couple of minor synergies with Defensive Programming, which mentions traceback() and the importance of good error messages to facilitate debugging. I don't think those minor overlaps require any particular lesson order, but we may want to add a few cross references once we have all the lessons drafted.

[2017-05-03 16:50] lindsaycarr commented on #153
When going through this section during the course, it should actually have people create a GitHub repo for a package, then make an RStudio project

[2017-05-03 18:15] ldecicco-USGS commented on #155
Even though many (or any?) of us has used this....we might want to do a quick survey of the `assertr` package...it seems to be super-popular with the rOpenSci folks:

https://github.com/ropensci/assertr

[2017-05-03 18:18] wdwatkins commented on #155
Yeah I used that a bit in the analytics viz.  Seems useful for adding tests/assertions in more script-y use cases.

[2017-05-03 18:20] aappling-usgs commented on #155
it's mentioned very briefly in defensive programming...

[2017-05-03 18:30] ldecicco-USGS commented on #154
Was thinking it could go in `tests`...but also here: possibly more info or examples on the `assertr` package, and maybe `validate`?

https://cran.r-project.org/web/packages/validate/vignettes/intro.html

[2017-05-03 22:01] lindsaycarr opened #185 "Package mechanics"
Hadley’s package book - mostly link to this, but have outline here.
imports/dependencies
Philosophy - limiting dependency tree as a balancing act
Technical part, too
NAMESPACE
Data - data, extdata, sys.data (not big data/sbtools)
Package skeleton
Internal vs external functions
Obj: Define the required directories and files for a package.
Build, reload, check, test button
Do more talking/explaining

[2017-05-05 16:56] lindsaycarr opened #189 "update Before the workshop for R v3.4.1"
When 3.4.1 is released, update Before the workshop including all of the screenshots.

[2017-05-09 19:45] ldecicco-USGS commented on #156
As a maintainer for dataRetrieval....I think it's very important that we add info to the "dontrun" section. Currently it says:
[code]
There are a bunch of reasons to put code in the dontrun bracket, and I have never heard of people using it to show how to create an error. Long running code, code that requires user-inputs, code that depends on a web service call those have always been the reasons I

[2017-05-10 13:54] wdwatkins opened #195 "thoughts from stats course"
- add `qqnorm`, `qqline` to explore
- `select_if()` ??
- make the t test between seasons/years maybe, instead of flow codes?

[2017-05-10 14:49] ldecicco-USGS commented on #174
Here's a nice list of common Errors in R:

https://www.quantinsti.com/blog/common-errors-r/

Might be good to just include the link, or do something similar (here? defensive programming? somewhere else?)

[2017-05-10 15:12] aappling-usgs commented on #174
good find! i think this would fit well in debugging

[2017-05-11 16:11] lindsaycarr opened #196 "USGS-wide announcement"
Will there be a USGS-wide announcement about this course being available through DOI Learn? At least a WMA announcement?

I will definitely send an email to everyone who has previously taken our course (instructions for USGS and non-USGS folks).

[2017-05-11 18:29] ldecicco-USGS commented on #153
I think we need to address SSH. At a minimum, something like:

![2017-05-11_13-26-19](https://cloud.githubusercontent.com/assets/1105215/25965487/c24852cc-364d-11e7-96d3-4dd25fe6fd35.png)

This is a constant source of frustration for the occasional USGS git user.

[2017-05-11 20:28] lindsaycarr commented on #153
I was under the impression we said this would go in the package mechanics section? Maybe not...I'd need to look at our meeting notes.

[2017-05-11 20:31] ldecicco-USGS commented on #153
It's such a frustrating and common issue, and this page will (hopefully) be used as a git reference...I think it should be mentioned in both places. Note, I'm not describing how to set up your SSH keys or add the DOI root cert to devtools....just make sure they pick SSH and hot HTTPS

The more we emphasize these pain points, the less we have to troubleshoot later

[2017-05-11 20:32] lindsaycarr commented on #153
Ah I see! Then yes, will add

[2017-05-11 20:44] lindsaycarr commented on #106
@ldecicco-USGS have you reviewed this lesson and are we good to close this?

[2017-05-11 20:48] ldecicco-USGS commented on #106
Ah, looking now...no, I think we should clean it up a bit. At a minimum, taking out looking at the entire siteInfo attribute. I'll try to do something now.

[2017-05-11 21:09] lindsaycarr commented on #106
:+1:

[2017-05-11 21:18] ldecicco-USGS commented on #106
Table2 uses the `arg_table_functions.R`, but one of the descriptions as a (rather important) link. I don't have time right now to figure out if we can pull that out automagically, but something to think about.

[2017-05-11 22:08] lindsaycarr commented on #106
Not sure I understand what you're saying here. It has a link and shouldn't? Or vice versa?

[2017-05-11 22:35] ldecicco-USGS commented on #106
Vice versa...it says: "see for a complete list of options. A list of arguments can also be supplied." and in the help files, it says "see https://www.waterqualitydata.us/webservices_documentation for a complete list of options. A list of arguments can also be supplied."

[2017-05-19 21:05] ldecicco-USGS commented on #185
Didn't get to "Internal vs external functions"...need to ....

[2017-05-19 21:08] ldecicco-USGS commented on #153
Along with the addition to tell people to use SSH, I think you should edit the nice diagram you made. The top cloud says "Master Repository". I think using the word "Master" will end up getting confusing because "Master" in every other aspect of git refers to a branch/branching. I'd just change it to "Upstream Repository" or "Canonical Repository" (but my preference is "Upstream")

[2017-05-19 21:13] ldecicco-USGS commented on #153
Another specific thing to change would be (ack...I can't do line references on .Rmd files? lame):

[code]

Make sure that is changed to:
[code]

[2017-05-22 18:30] ldecicco-USGS commented on #156
Something I'm learning through painful experience....we can't use `#` in a url in the helpfiles. It's also annoying that "Check" isn't catching those errors on 3.4.0, but at least on `rhub`, `check_with_rdevel()` does clue us in. Interestingly though I guess, CRAN's regular 3.4.0 is also flagging the warnings, so it's not just `rdevel`.

Anyway, probably worth mentioning in here.

[2017-05-22 19:17] lindsaycarr commented on #152
I think the first objective from #157 should go in the "Are there resources to maintain the package?" section.

`Identify requirements of package maintenance`

[2017-05-23 14:58] lindsaycarr commented on #156
Still need to add something about how to build vignettes:

[2017-05-23 16:54] lindsaycarr opened #204 "Establish schedule"
@ldecicco-USGS, @jiwalker-usgs, @wdwatkins, @lindsaycarr, and @limnoliver met to discuss this schedule. Please comment with any concerns, or suggested changes. Each section should have at least one additional person besides the Facilitator. Add yourself to the ones you plan to sit in on (@lindsaycarr will plans to attend all of them since she is coordinating the week).

We will be making a canned

[2017-05-23 18:29] lindsaycarr opened #205 "Create pkg dev class repo"
pkg called "trainR" ??

Use branches to roll back to original
Automate issue creation?
Purposely have errors

[2017-05-23 18:32] lindsaycarr commented on #205
Add tag for each section of the workshop
6 issues for each thing (one per attendee), assign them to people OR you can work on your issue

[2017-05-23 18:33] lindsaycarr commented on #204
Flexibility in practicing each section:

1. Work on "throw-away" package together w/ canned steps
2. Use time to work on their own pkg

[2017-05-23 18:35] lindsaycarr commented on #204
package mechanics will have people build pkg locally
version control is where people will pull in our stock repo

[2017-05-23 18:45] lindsaycarr commented on #204
canned example for final day to add a new feature where you do through all the steps; then people move on to their own work

[2017-05-23 18:45] lindsaycarr commented on #155
code coverage -- needs more content

[2017-05-23 18:46] lindsaycarr commented on #205
travis + coveralls

[2017-05-23 18:51] lindsaycarr commented on #204
project management should touch on CI, don't need to show how exactly to add CI (maybe just copy/paste from dataRetrieval???)

[2017-05-23 19:01] lindsaycarr commented on #204
do a practice round for version control w/ locals since it is SOO SOO critical

[2017-05-23 19:35] lindsaycarr opened #206 "Feedback on finished sections"
I originally suggested adding these to the individual sections issues, but I think we should collect them here since we may or may not get to them before the course actually happens. You can edit this comment and add your feedback under each section.

[From Sam] FYI, I provided feedback on places that I felt a little lost or seemed to be potential sticky points. I tried to take authors or those wh

[2017-05-23 19:36] lindsaycarr commented on #152
Content complete, further feedback provided in #206

[2017-05-23 19:36] #152 closed

[2017-05-23 19:59] lindsaycarr commented on #185
objectives in "objective language"

1. List the structural components of an R-package.
2. Understand package dependency trees.
3. Be familiar with different ways data can be included in packages.
4. Correctly define what licenses and disclaimers are needed for USGS software.
5. Apply the build and check features to a package.
6. Define internal functions and know their benefits.

[2017-05-23 20:34] lindsaycarr commented on #174
Content complete, further feedback provided in #206

[2017-05-23 20:34] #174 closed

[2017-05-23 21:00] lindsaycarr commented on #157
needs to mention rhub per #208

[2017-05-24 18:55] lindsaycarr commented on #156
Content complete, further feedback provided in #206

[2017-05-24 18:55] #156 closed

[2017-05-24 18:59] #159 closed

[2017-05-25 19:26] #153 closed

[2017-05-25 19:27] lindsaycarr commented on #153
Content complete, further feedback provided in #206

[2017-05-25 20:20] lindsaycarr commented on #155
Content complete, further feedback provided in #206

[2017-05-25 20:20] #155 closed

[2017-05-25 20:48] lindsaycarr commented on #205
https://github.com/USGS-R/trainR

[2017-05-26 09:23] eread-usgs commented on #204
@lindsaycarr I'm happy to do a brief section on PM. However, I'm going to be wrapped up in another training until noon on Monday. Could you schedule the session, which likely will only last 30-45 mins, for after the lunch break (starting anytime after 12pm noon) on Monday?

Thanks,
Emily

[2017-05-26 13:36] lindsaycarr commented on #204
@eread-usgs moved lunch down a half hour and adjusted the time. Thanks!

[2017-05-26 14:27] thongsav-usgs opened #212 "Revise language about GitHub"
Super nitt picky, but may want to make sure GitHub is identified as *a* interface.

Intro paragraph (and potentially other places) identify that GitHub is "its" web interface. I believe it's more accurate to say that it's *a* interface, or even that it's one of the most popular. Further, it's a central repo hosting site with a web interface to said repos. IE: "a web interface to git" may be slight

[2017-05-26 14:32] thongsav-usgs commented on #212
Further, I do not know if it's worth while covering the nature of distributed repositories. I do find people brand new to version control are very confused by it, it's related to the above comment in that GitHub hosts git repos, and can have fork/clones of the repos anywhere (the distributed part).

[2017-05-26 14:37] thongsav-usgs opened #213 "Add to repository definition in "terms" table"
may want to revise to "a collection of files with complete revision history, aka repo"

[2017-05-26 14:40] thongsav-usgs commented on #213
I'm going to condense all feedback related to git language in #212

[2017-05-26 14:40] #213 closed

[2017-05-26 16:40] lindsaycarr commented on #204
The schedule has been approved by people attending. Closing the issue.

[2017-05-26 16:40] #204 closed

[2017-06-01 15:59] wdwatkins commented on #206
Good catch on the debugging stuff @limnoliver, I'm usually running dataRetrieval from a local build from source.  I hadn't realized that made a difference.

[2017-06-01 18:26] lindsaycarr commented on #206
Major things:

1. Documentation vs Package mechanics
2. Should we get into NSE in package mechanics?
3. Project mgmt vs version control
4. Simplify examples used in defensive programming (probably good note overall)
5. Need high-level "testing" explanation
6. More examples in "testing"

[2017-06-01 18:36] lindsaycarr commented on #206
Not introducing NSE,means people will likely have warnings/notes in pkg check when using dplyr. That is the point of introducing NSE. Be clear about goal with showing it. Example to explain NSE: `library(dataRetrieval)` -- package name not quoted.

[2017-06-02 21:26] #205 closed

[2017-06-02 21:27] lindsaycarr commented on #185
This is at a finished point. See #206 for smaller corrections.

[2017-06-02 21:27] #185 closed

[2017-06-09 14:34] #154 closed

[2017-06-09 14:35] #157 closed

[2017-06-09 20:24] lindsaycarr commented on #125
https://www.gsa.gov/portal/content/103534

[2017-06-12 13:26] #141 closed

[2017-06-12 13:26] lindsaycarr commented on #141
No longer relevant since all of our curriculum is out now.

[2017-06-12 15:10] lindsaycarr commented on #106
@ldecicco-USGS would you still like to take out the siteInfo stuff before calling this done? Aren't we just looking at the lat and long of that attribute table?

[2017-06-12 15:15] ldecicco-USGS commented on #106
I think I already took the siteInfo stuff out. It was spewwing out pages of a siteInfo dataframe print statement awhile back. It's all good now.

[2017-06-12 15:15] #106 closed

[2017-06-12 15:19] lindsaycarr commented on #106
Ah gotcha! Thanks

[2017-06-12 15:22] lindsaycarr commented on #108
@jiwalker-usgs when was the last geoknife release? Just updated to v1.5.5 but I still get the output from before.

[2017-06-12 15:23] lindsaycarr commented on #126
Could come up with a few assessment questions, probably some that are much better than the one above.

[2017-06-12 15:24] jiwalker-usgs commented on #108
This is actually the GDP release that will fix this, I'm working on pushing it out today.

[2017-06-13 18:44] lindsaycarr commented on #160
Sent email on 6/13.

[2017-06-13 18:44] #160 closed

[2017-06-13 19:38] lindsaycarr opened #232 "add NSE example [mechanics]"
- add example of what NSE error is to package mechanics lesson (use `library()` example)
- We went over this, but I don’t know if it’s captured anywhere online
- Context: dplyr notes about global vars on check

[2017-06-13 19:39] lindsaycarr opened #233 "how to enable citations [doc]"
add information for how to enable `citation()` for your pkg in the documentation lesson

[2017-06-13 19:40] lindsaycarr opened #234 "Remove use_vignettes [doc]"
Don’t use `devtools::use_vignettes` since it automatically added `inst/extdata` to `gitignore`

[2017-06-13 19:46] lindsaycarr opened #235 "@export must be added [doc]"
`#' @export` and `#' @keywords internal` are not discussed anywhere.

Need to say you must add `#' @export` to your own package functions to use them during development unless you do `packageName:::fxn` each time. Building will only make them available if `export` is added.

[2017-06-13 19:47] lindsaycarr opened #236 "discuss environments [mechanics + debugging]"
- add info about global environment functions vs functions built in package to the package mechanics section w/ NAMESPACE. Then, bring up again in Debugging.
- This made a lot of people get stuck because they are used to making functions, sourcing their function scripts, and then having the functions available. It was difficult for them to break that workflow, so they were still sourcing the funct

[2017-06-13 19:48] lindsaycarr opened #237 "skip_on_cran [writing-tests]"
Add info for using skip_on_cran() in writing tests

[2017-06-13 19:49] lindsayplatt opened #238 "CI setup info [maintenance]"
Setup information for travis, appveyor, and covr in maintenance

Show how to add badges to README.

[2017-06-13 19:50] lindsaycarr opened #239 "rename is.valid.pH [doc + writing-tests]"
- Follow the same style as trainR for the functions used in curriculum
- Convert `is.valid.pH` to `is_valid_pH`

[2017-06-13 19:50] lindsaycarr opened #240 "link GRAN instructions [maintenance]"
link GRAN info in maintenance to our more elaborate instructions: https://owi.usgs.gov/R/gran.html

[2017-06-13 19:52] lindsaycarr opened #241 "version control is a familiar concept [git]"
@wdwatkins made a great comparison to start the version control section - people have been doing version control themselves via file naming schemas. I think that would be a great thing to add to the beginning of our lesson. Maybe include that PhD comic that was used.

[2017-06-13 19:53] lindsaycarr opened #242 "don't add sensitive info [git]"
Add an explicit note/caution about not pushing sensitive info (database passwords, etc) via version control. It was said multiple times during this course, but I feel like it should be written somewhere in our online version

[2017-06-13 19:54] lindsaycarr opened #243 "Rethink canned examples"
- It was kind of confusing to keep flipping between trainR and demoPackage
- Though both seemed necessary
- Maybe we need to add more to trainR, so that once we get through that initial example of how to locally set up a package w/ demoPackage we should not revisit

Suggestions/discussion:
Don’t have trainR setup so much before hand. Have people take on initial issues (create X function) and as th

[2017-06-13 20:02] lindsaycarr opened #244 "Automate setup"
Automate setup process for using/building packages (and Intro to R?)
- checkr ?
- Ideal: send people a script that they can source, then instructors get an email (not necessarily realistic, but a nice goal)

[code]

[2017-06-13 20:05] lindsaycarr opened #245 "personal pkgs are good [packages]"
In when/why to build a package, I think it would be nice to say that you don't HAVE to share a package, and that it can be useful just to package your own personal functions that you use often

Comes from #206

[2017-06-13 20:06] lindsaycarr opened #246 "update instructors for new proj [mechanics]"
- Package Skeleton Step 2: Choose New Package Option -- Rstudio first gives me options of 'new directory', 'existing directory', or 'version control', so should add select "new directory', then user will get to the options currently listed in step 2
- Package Skeleton Step 3: For me, the 'create git repository' was automatically checked. Do you want attendees to uncheck this? (example has it unche

[2017-06-13 20:10] lindsaycarr opened #247 "more info on DESCRIPTION [mechanics + doc]"
- Minimum requirements: see general notes above. Maybe here you could fill out the description file with the students, since you reference here and elsewhere in the package mechanics section? Then in documentation, just reiterate you should modify this file.
- briefly describe some elements in the DESCRIPTION file here and in Documentation

Comes from #206

[2017-06-13 20:11] lindsaycarr opened #248 "motivation for including data [mechanics]"

[2017-06-13 20:14] lindsaycarr opened #249 "add pkg dependency info [doc]"
Depending on other packages: this seems out of order with regard to what I said about: documentation being part of this section. I recommend going into documentation a bit more in Package Mechanics and the various bits you have weaved in. Alternatively, you could move this particular section to documentation.

overall need to describe NAMESPACE file a bit more in Documentation.

Comes from #206

[2017-06-13 20:16] lindsaycarr opened #250 "add project mgmt info [packages + maintenance]"
packages: aving clearly defined goals, tasks, expectations before starting development. Suggest Agile practices.

maintenance: github issues + milestones + projects

[2017-06-13 20:17] lindsaycarr opened #251 "committing w/ open pull request [git]"
Submitting a pull request: the end of this section mentions waiting for your pull request to be merged. I think it would be nice to add what happens if you were to make changes in the meantime. Do they get added to the pull request? What happens if you submit a pull request, and then pull from upstream in the meantime and start working again? These are the parts that are really confusing to me!

C

[2017-06-13 20:18] lindsaycarr opened #252 "motivation for stashing [git]"
Stashing: can you give an example of when you might want to use this feature?

Comes from #206

[2017-06-13 20:21] lindsaycarr opened #253 "simplify + provide examples [defense]"
- Common gotchas: it would be nice to have examples for the suggested functions to use instead (e.g., isTRUE() and assert_that()) to show how they would be implemented in a function. I got distracted because it wasn't immediately clear to me what those functions were doing or how I would implement them.
- Fail conspicuously: like the comment above, it would be super useful to walk through examples

[2017-06-13 20:21] lindsaycarr opened #254 "more high-level context for testing [writing-tests]"
At a high level - I'm still sort of confused as to how the testing is implemented once the tests are written. Is the testing just used by the developers - or is it integrated somehow into the package? Is it completely separate from warnings/defensive programming? What is the suggested workflow for testing?

Comes from #206

[2017-06-13 20:22] lindsaycarr opened #255 "Add examples of TDD vs BDD [writing-tests]"
In 'What types of tests should I write?' -- is there a simple chunk of code that you can use as a foundation for examples of the different types of tests? I was having a hard time thinking of examples to contrast these -- and it really helped when you gave a BDD example later on.

Comes from #206

[2017-06-13 20:25] lindsaycarr commented on #206
Created smaller, digestable issues from the things listed here that have not already been addressed. Thanks @limnoliver for your work on this!

[2017-06-13 20:25] #206 closed

[2017-06-15 15:20] #108 closed

[2017-06-15 16:20] lindsaycarr opened #256 "create show/hide feature for exercise answers"
It would be nice to have the ability to show or hide code when we are creating exercises so people can check themselves. By default the code chunk and output would be hidden, and then people could have the option to show the code and output.

1. The `learnr` package is awesome and has this feature, BUT it's running using Shiny and that we cannot do with our current Hugo workflow.

2. R markdown ha

[2017-06-15 16:25] ldecicco-USGS commented on #256
Check out:

https://owi.usgs.gov/blog/LOCAdownscaling/

then go to the blog's rmd to see how it was done, it's not too hard, but I can help if you need it.

[2017-06-15 16:28] ldecicco-USGS commented on #256
Also in this one:
https://owi.usgs.gov/blog/plotFlowConc/

[2017-06-15 16:42] lindsaycarr commented on #256
WOAH! Had no idea we already did that...oops. Thanks for pointing this out!

[2017-06-15 16:44] ldecicco-USGS commented on #256
It's a little putzy...so holler if it's not working. It's hard because knitr doesn't really want to let you put the <div>'s in the output: markdown.

[2017-06-15 18:01] lindsaycarr commented on #256
The show/hide is working, it just doesn't look like a button. I put the CSS in there according to https://github.com/USGS-OWI/owi-blog/pull/114/files

[2017-06-15 19:53] lindsaycarr commented on #110
After discussion with @jiwalker-usgs, we decided not to do the troubleshooting section. `id()` and `cancel()` were the only functions left. `id()` is meant to be used to recreate your geojob from its id so you can add new variables and re-run easily, but this feature isn't full established. `cancel()` sounds like it doesn't really do much and is more of a power-user feature.

[2017-06-15 19:53] #110 closed

[2017-06-15 19:54] lindsaycarr opened #257 "geoknife: double check email language"
@jiwalker-usgs is going to update how the language in the process status email is worded. We should update the curriculum once that change is in effect.

[2017-06-22 18:44] #111 closed

[2017-06-23 18:45] lindsaycarr commented on #113
@aappling-usgs do you have any idea what that 3rd bullet might be referring to? I can't remember the motivation for that.

[2017-06-23 18:48] aappling-usgs commented on #113
Hmm...maybe just showing how you can get the URL to an item from sbtools, then follow that URL to browse in the web interface? can be helpful if there are maps or metadata to view, and/or to check or repair an sb item if any of the sbtools-based POST commands might have failed

[2017-06-26 18:31] lindsaycarr commented on #113
@aappling-usgs what's the difference between the `query_sb_*` functions and the `query_items_*` functions? Seems like `query_sb` also returns items.

[2017-06-27 17:09] lindsaycarr commented on #256
Show/Hide feature is working. Checkout #260 and #259 for info on how to use it!

[2017-06-27 17:09] #256 closed

[2017-06-27 17:14] lindsaycarr commented on #113
`9999-07-25`

[2017-06-28 20:15] lindsaycarr commented on #123
& the .md tag that was added: `The following material is IN DEVELOPMENT`

[2017-06-28 23:17] aappling-usgs commented on #113
could just be inconsistent naming/output. sciencebase is down tonight (or maybe my hotel internet is funky?) so I can't double check, but the sbtools paper shows `query_item_identifier` producing a data.frame, whereas `query_item_in_folder` and `query_sb_*` return lists of sbitems (or single items?). i don't think there's a way to use `query_sb_*` to search for items within a folder, as `query_ite

[2017-06-29 21:23] lindsaycarr opened #264 "add `seriesCatalogOutput` arg"
Laura likes to use `seriesCatalogOutput = TRUE` for dataRetrieval calls but I didn't show an example of that anywhere. Would be nice to add it, but not priority for initial release at end of FY17.

[2017-06-29 21:23] lindsaycarr commented on #264
See https://github.com/USGS-R/training-curriculum/pull/263/files#r124913960

[2017-06-29 21:47] #126 closed

[2017-07-03 15:08] lindsaycarr commented on #114
# general sb interaction info
`authenticate_sb`
`current_session`
`is_logged_in`
`sb_ping`
`session_details`
`session_logout`
`session_renew`
`session_validate`
`set_endpoint`
`user_id`

# sbitems & downloading data
`identifier_exists`
`is.sbitem`
`item_exists`
`item_get`
`item_get_fields`
`item_get_parent`
`item_get_wfs`
`item_list_children`
`item_list_files`
`sbitem`

[2017-07-03 15:10] lindsaycarr commented on #115
# edit existing things
`items_update`
`items_upsert`
`item_append_files`
`item_move`
`item_rename_files`
`item_replace_files`
`item_update`
`item_update_identifier`
`item_upsert`

# make/remove things
`folder_create`
`items_create`
`item_create`
`item_rm`
`item_rm_files`
`item_upload_create`

[2017-07-03 20:54] aappling-usgs commented on #114
This looks like a good high-level organization of the information.

Are there any uncommonly used SB interaction methods you can omit, or just list briefly? `sb_ping`, `set_endpoint`, and `session_validate` are candidates. Seems like help with focus could be more valuable than an exhaustive catalog. also, `session_details` appears to be more or less redundant with `is_logged_in`, at least for the

[2017-07-03 21:01] aappling-usgs commented on #115
you know, this lesson might actually be the best place to introduce `user_id`, which returns the home item for a user. seems like it mostly gets used in the context of functions like `item_create` and `folder_create`, and in examples. (it's currently slated for the **getting data** lesson)

this lesson might benefit from a paragraph up top outlining the logic behind the `item_` vs `items_` functio

[2017-07-03 21:14] lindsaycarr commented on #115
I ended up switching this a little bit before you commented. Checkout this commit: https://github.com/lindsaycarr/training-curriculum/commit/78d87d969d152c81666f4822cf53e888c35b7fff

[2017-07-03 21:28] lindsaycarr commented on #114
Yeah, I think we can exclude some of those less common functions. Do you think we should include a section on using `authenticate_sb` not interactively, where you save your password info somewhere locally? Seems like people would have a use for this, but I don't want to promote something that's not recommended.

[2017-07-03 21:37] lindsaycarr commented on #115
Realizing that I mention `user_id`, but don't really introduce it. I'll make a note to do that.

[2017-07-03 21:49] aappling-usgs commented on #114
hmm, good Q; leaning toward 'no'. i wish `sbtools` had built-in functionality for this; then, i'd be all for including it here. there will definitely be people for whom this is useful. while our solutions are not bad, they're not yet watertight, either. maybe avoid mentioning it for now, create an `sbtools` Issue for it, and share our approaches openly but only with caveats and with students who a

[2017-07-05 14:54] lindsaycarr opened #269 "whatNWISdata instead of whatNWISsites"
Use instead of whatNWISsites bc you get more info. Test this out bc it's been updated recently.

https://github.com/USGS-R/dataRetrieval/pull/378

[2017-07-05 15:21] lindsaycarr commented on #118
merging 3 different data sets (joins + reshaping)

[2017-07-05 15:26] lindsaycarr commented on #113
are people actually using SB as a way to find data? Is this totally unnecessary?

[2017-07-05 15:36] lindsaycarr commented on #114
@aappling-usgs where should we put a note about not pulling SB data in parallel?

[2017-07-05 15:36] lindsaycarr commented on #117
Concern about SB being flaky when people are learning this - don't want to cause people headaches. Maybe use shapefile of watershed as SB item that is used to define geoknife stencil. Pull down shapefile and save locally in code. Then use local shapefile for geoknife process. In case SB is down: have file somewhere else or have points written in hidden code block so that people can still complete

[2017-07-05 15:40] lindsaycarr commented on #121
Updating fig from 2 or 3 years ago with recent data.

[2017-07-05 15:43] lindsaycarr commented on #121
Different WQ parameters, diff units. Module of it handling a specific parameter that needs something special (like logging flow) compared to the others. Sensored data?

[2017-07-05 15:45] lindsaycarr commented on #121
Modularity - could do censored values (but maybe something else) in a bunch of different ways. You could change this method later on, don't need to be set on a method right away.

[2017-07-05 15:47] lindsaycarr commented on #116
pow-wow before trying specific examples because they probably have good ones already (e.g. Laura Hubbard)

[2017-07-05 16:38] aappling-usgs commented on #114
closing thoughts?

[2017-07-05 16:42] aappling-usgs commented on #113
you ask this after writing a beautiful lesson on the topic =). i doubt that the query potential has been fully realized, but i hope that your lesson turns into someone thinking of a great dataset mining project someday (could even be us?). in the meantime, i absolutely use `query_item_in_folder` and `query_item_identifier` and possibly some others in the metabolism synthesis project - querying is

[2017-07-05 17:11] lindsaycarr commented on #113
Ha I know, but Laura brought it up and I thought it was worth mentioning. I just kind of looked at the functions available and started going. Realized I should have done a little more checking on whether or not they were all important.

Glad this was not completely useless and will still be good to show new users!

[2017-07-05 20:00] lindsaycarr opened #270 "sbtools: spatial data queries working?"
All examples is sbtools data discovery were returning empty lists. Is it fixed now?

See https://github.com/USGS-R/sbtools/issues/237.

[2017-07-05 20:00] lindsaycarr commented on #270
Other issues to watch that will enhance the sbtools data discovery: https://github.com/USGS-R/sbtools/issues/238 & https://github.com/USGS-R/sbtools/issues/235

[2017-07-05 20:06] #113 closed

[2017-07-06 17:25] aappling-usgs commented on #114
Here are ScienceBase's own, current words on being a good citizen (at https://www.sciencebase.gov/catalog/userAgreement/checkAgreement):

[2017-07-06 18:26] aappling-usgs commented on #115
@lindsaycarr wrote (Alison made a couple of edits):
Some additional unexpected behavior for sbtools functions. I'm trying to update an existing item's title.
[code]

Agreed that example 1 is not as expected. If a new title matches an old title, the old item should be updated. I made an sbtools issue: https://github.com/USGS-R/sbtools/issues/239

Example 2 seems like a mildly annoying constraint: b

[2017-07-06 18:30] lindsaycarr commented on #115
I assumed that `item_upsert` had the same behavior as `item_udpate` when the item already existed.

[2017-07-06 18:34] aappling-usgs commented on #115
Yeah, I don't think that assumption can be met. It searches based on `title`, updates based on `info`, and can't be directed (i don't think) to search for an item based on its sbid

[2017-07-06 18:36] lindsaycarr commented on #115
So how is `item_upsert` different from `item_create`?

[2017-07-06 18:38] aappling-usgs commented on #115
Isn't that what I just answered? It's different because it takes different arguments. It *should* also be different because it can modify an item, with those different arguments, if a single matching item already exists. But see sbtools issues 239 and 240.

[2017-07-06 18:41] lindsaycarr commented on #115
Oh sorry, thought you were answering how `item_upsert` differed from `item_update`.

[2017-07-06 18:41] aappling-usgs commented on #115
yeah, my bad, was just writing an apology/clarification

[2017-07-06 18:42] aappling-usgs commented on #115
Still - `item_upsert` *should* be different from `item_create` because it can sometimes modify rather than create an item, if a single matching item already exists. But see sbtools issues 239 and 240.

[2017-07-06 18:43] aappling-usgs commented on #115
`item_upsert` is basically a single API call that does the equivalent of
[code]
and because it has this fancier functionality, it takes different arguments than either `item_update` or `item_create`

[2017-07-06 19:21] aappling-usgs commented on #115
@lindsaycarr , regarding your slack issue with trying to create three items at once, repeated here:
[code]

making parent_id a list rather than a vector, or a simple vector of character IDs, should work:
[code]

but in both cases, all three items get created under the first parent_id:
[code]
...so i guess that's a new sbtools issue for us: https://github.com/USGS-R/sbtools/issues/242

[2017-07-06 19:28] lindsaycarr commented on #115
Oh man, another issue :grimacing:

What do you think we should do for these examples in the mean time?

[2017-07-06 19:47] aappling-usgs commented on #115
yeah, :grimacing: ! hmm...use a single, replicated `parent_id`, i guess? and include a link to the issue?

[2017-07-07 15:06] lindsaycarr commented on #113
Link for what categories & types are available:

[2017-07-11 15:51] lindsaycarr commented on #132
Closed by #134

[2017-07-11 15:51] #132 closed

[2017-07-11 15:53] lindsaycarr commented on #124
Closed by #197

[2017-07-11 15:53] #124 closed

[2017-07-11 16:31] lindsaycarr commented on #101
Waiting for #266 to be merged before changes for this in the `touch-ups` branch can be merged.

[2017-07-11 17:04] lindsaycarr commented on #133
Added

[code]
to this config.toml. Then, updated the parent for `dataRetrieval_Info` lesson to "dataRetrieval". Can't figure out how to get the accordian business there.

[2017-07-11 18:05] #101 closed

[2017-07-12 21:10] #127 closed

[2017-07-17 22:27] aappling-usgs opened #276 "sbtools: `item_get_wfs`"
`item_get_wfs(ex_id)` doesn't seem to be working for any `ex_id` we've tried.

[2017-07-17 23:03] aappling-usgs commented on #276
well, good news and bad news. the good news: i found three items that work!
[code]
![image](https://user-images.githubusercontent.com/12039957/28293519-58580434-6b09-11e7-97a0-6643443affb3.png)

the other working items i found are `5699855be4b0ec051295ed8b` and `58cbe556e4b0849ce97dcd31`.

the bad news: i found 97 that should have but didn't work.
[code]
when an item does work, it has a WFS link o

[2017-07-18 18:28] #115 closed

[2017-07-18 18:33] lindsaycarr opened #277 "use DS secrets management for sbtools lesssons"
Some of the `sbtools` lessons need authentication to knit the .Rmd. It would be nice to use the DS secrets management solution once that is complete.

[2017-07-19 12:20] #114 closed

[2017-07-19 18:40] lindsaycarr opened #278 "survey for sbtools use"
Add survey to the end of the sbtools lesson to get feedback on how people are using sbtools and feed this back into SB team.

[2017-07-27 20:43] #116 closed

[2017-07-27 21:00] #128 closed

[2017-07-31 16:10] lindsaycarr commented on #189
This was fixed in #273

[2017-07-31 16:10] #189 closed

[2017-08-07 16:25] lindsaycarr commented on #195
use t.test again at the end with dates in repeat/reproduce

[2017-08-07 21:02] lindsaycarr opened #288 "Update training materials summary page"
The curriculum page (when you click "Home: R Training Curriculum") is out of date.

_Currently, there is only one course - Introduction to R._ is a very false statement.

[2017-08-07 21:02] aappling-usgs commented on #288
So false. Much false.

[2017-08-07 21:06] ldecicco-USGS commented on #288
I did update something like that very recently...Ctrl+ F5?

[2017-08-07 21:08] aappling-usgs commented on #288
Pretty sure not...https://github.com/USGS-R/training-curriculum/blob/master/themes/hugo_theme_robust/layouts/index.html#L15

[2017-08-07 21:10] ldecicco-USGS commented on #288
Oh, I wiped out that language on one of those non-Hugo pages. It's still in the "R Training Curriculum" page. We don't actually link there as obviously as before though, so that's good. Only really on that sidebar.

[2017-08-07 21:10] lindsaycarr commented on #288
Yeah, we noticed this when Alison setup the local server to look at my PR.

[2017-08-07 21:13] ldecicco-USGS commented on #288
Our internet is soooo bad today...I submitted that last comment seconds after my first comment...but it just showed up 2 minutes after Alisons....

[2017-08-08 13:51] lindsaycarr commented on #130
also try getting rid of the index page from the side bar - [Home: R Training Curriculum](https://owi.usgs.gov/R/training-curriculum/)

[2017-08-08 20:07] lindsaycarr commented on #121
_**REPLACED THIS WITH AN OVERVIEW OF THE WORKFLOW**_ (see #285). I don't think this part would have been that useful as described above.

[2017-08-08 21:03] lindsaycarr opened #289 "Create closing remarks page"
Include reference to contributions to USGS packages (link new pkg categories). Remove/replace `Application - Intro` goal # 3

[2017-08-08 21:31] lindsaycarr commented on #130
Dates order the tiles view correctly, weights order the sidebar menu (dates cannot be used to order anything in the sidebar - only weights or alphabetically)

[2017-08-08 21:32] #130 closed

[2017-08-08 21:39] lindsaycarr commented on #117
Closed by #285.

[2017-08-08 21:39] #117 closed

[2017-08-08 21:39] lindsaycarr commented on #118
Closed by #285.

[2017-08-08 21:39] #118 closed

[2017-08-08 21:39] lindsaycarr commented on #119
Closed by #285.

[2017-08-08 21:39] #119 closed

[2017-08-08 21:39] lindsaycarr commented on #120
Closed by #285.

[2017-08-08 21:39] #120 closed

[2017-08-08 21:40] lindsaycarr commented on #121
Closed by #285.

[2017-08-08 21:40] #121 closed

[2017-08-09 19:50] lindsaycarr commented on #257
@jiwalker-usgs any estimated on when/if this happen before the end of FY17?

[2017-08-09 19:51] lindsaycarr commented on #169
Duplicated issue, see #257

[2017-08-09 19:51] #169 closed

[2017-08-09 19:57] lindsaycarr opened #291 "share sbtools lesson with Tim Quinn"
@aappling-usgs think this is still necessary?

[2017-08-09 19:57] jiwalker-usgs commented on #257
I'll do it now so it makes it into the next release (which should be before end of FY17).

[2017-08-09 20:03] lindsaycarr commented on #257
See https://github.com/USGS-R/training-curriculum/pull/162#discussion_r109768446

[2017-08-09 20:07] aappling-usgs commented on #291
Not necessary for the training, no, but would be a nice collaborative thing to do. Hi Tim, thought you'd be interested to see how we've presented the package to prospective users. Any feedback would be welcome. We appreciate you adopting this package. stuff like that, just so he's in the loop.

[2017-08-09 22:07] lindsaycarr opened #293 "add estimated duration to each module"
@limnoliver it would be helpful if you could give a vague idea of this once you're done. I know you are reviewing at the same time, but an over-estimate would be better than an underestimate.

[2017-08-09 22:09] lindsaycarr opened #294 "add geolakes paper link"
this appears in the lesson summary for dataRetrieval

[2017-08-09 22:17] lindsaycarr commented on #129
R package / R library
modular workflow
reproducible

[2017-08-10 21:08] #129 closed

[2017-08-11 14:34] lindsaycarr commented on #133
spending too much time on this, and I just don't think it's worth it for now. Here's what the menu looks like: I think it's pretty well organized. Might want to reconsider this as we add more packages

[2017-08-11 14:34] #133 closed

[2017-08-11 14:37] #294 closed

[2017-08-11 15:30] #289 closed

[2017-08-11 18:31] lindsaycarr commented on #163
@mwernimont this is especially important for passing 508 standards. None of our current code blocks, code tags, or in-line links do not have have enough contrast with the background.

[2017-08-11 21:07] lindsaycarr commented on #125
Ignoring redundant links and suspicious link text. Fixed some contrast errors - URL links + table captions. All the code chunk contrast errors should be fixed in #163.

[2017-08-11 22:33] #125 closed

[2017-08-21 12:44] mwernimont commented on #165
@lindsaycarr Can you give me a URL to this table, I haven't been able to find it on my own searching.

[2017-08-21 12:48] mwernimont commented on #163
@lindsaycarr so not really sure what parts need to be changed and what is good at the moment, any clarity possible?

[2017-08-21 12:53] lindsaycarr commented on #165
There's a couple on [this page](https://owi.usgs.gov/R/training-curriculum/usgs-packages/dataRetrieval-readNWIS/#readnwisgwl). To create them, I used an R package called `htmlTable` and created my own function to do it. [Here's where the function is called](https://github.com/USGS-R/training-curriculum/blob/master/content/usgs-packages/dataRetrieval_readNWIS.Rmd#readnwisgwl) and [here is where the

[2017-08-21 12:57] mwernimont commented on #165
Cool, thank you, will investigate.

[2017-08-21 12:58] lindsaycarr commented on #163
I'm not super sure of all the changes that would be needed myself, but I do know that there is not reason `stat` and `read` in the snippet above should be colored. R has specific syntax highlighting - I found [this CSS from RStudio](https://github.com/rstudio/rstudio/blob/master/src/cpp/session/resources/r_highlight.html). Does this help?

[2017-08-21 13:00] lindsaycarr commented on #163
This stackoverflow comment has some potential resources for it: https://stackoverflow.com/questions/19999687/syntax-highlighting-rules-and-definitions

[2017-08-21 13:04] lindsaycarr commented on #163
Not sure I follow exactly what you mean, but the code chunk styling is off for all the pages. I had assumed there was some underlying CSS used to specify how to style any code but maybe that's not the case.

[2017-08-21 13:05] mwernimont commented on #163
I meant where to look at the site for the wrong colored code chunks.

[2017-08-21 14:43] limnoliver opened #300 "sbtools: minor editorial suggestions"

[2017-08-21 15:00] limnoliver opened #301 "dataRetrieval: minor editorial suggestions"
# Introduction

- [x] "The package was created to make querying and downloading hydrologic data from the web easier and less error-prone." **to** "The package was created to make querying and downloading hydrologic data from the web easier, less error-prone, and reproducible."

- [x] "Investigate what data is available in National Water Information System (NWIS) " **to** "Investigate what data are

[2017-08-21 15:05] limnoliver opened #302 "dataRetrieval: suggested changes"
# Data Discovery

- [x] To keep users from having to jump ahead/back in the tutorial, I think it's important to make sure all statements about features have qualifiers if they are not immediately described. For example, in data discovery, the sentence "Another option is to download the data using` readNWISdata`, and see the first and last available dates of that data with the argument `seriesCatal

[2017-08-21 19:12] limnoliver commented on #293
# dataRetrieval
- Intro (3 min)
- Data Discovery (30 min)
- readNWIS

[2017-08-22 16:15] mwernimont commented on #165
@lindsaycarr its an odd fix, but we have this wordbreak: keep all to avoid certain words splitting when descending onto the next line of the paragraph. The tables that are not wrapping and extruding from the divs are because we have sentences without proper spacing and the CSS is seeing them as whole words and not allowing them to break off to the next line.  We basically just need to go into the

[2017-08-22 16:22] mwernimont commented on #163
![screen shot 2017-08-22 at 11 21 16 pm](https://user-images.githubusercontent.com/6390096/29576040-148b4cc2-872c-11e7-9972-38d7b0459b6f.png)

@lindsaycarr Do we want the **Read** to be this color? Its just a class certain thing get that I can make any color we want, just not sure what that is.

[2017-08-23 16:43] lindsaycarr commented on #165
Ah interesting! So the content in those tables are automatically generated based on the documentation that lives in the functions. I will go in and edit the function that makes them to add spaces between quotes. Thanks for hunting down the issue :heavy_check_mark:

[2017-08-23 16:44] lindsaycarr commented on #163
Sorry I never gave examples, my access to GitHub that day was nonexistent. But the screenshot you have there looks good to me. That's what I would expect to see. Can we merge your changes and then I can explore other examples on dev and see if anything else jumps out?

[2017-08-23 19:06] mwernimont commented on #163
@lindsaycarr https://github.com/USGS-R/training-curriculum/pull/303

[2017-08-24 13:32] lindsaycarr commented on #163
Hmmm what's strange is that it definitely fixed some of the code, but not all:

![image](https://user-images.githubusercontent.com/13220910/29668673-aa6fba18-88a6-11e7-890b-dd8493d047aa.png)

[2017-08-24 13:41] lindsaycarr commented on #163
No thanks to the orange :)

The blue is good (and has good contrast for 508 compliance). The other style that needs to change is the inline code. The contrast is very poor and doesn't pass 508 standards.

![image](https://user-images.githubusercontent.com/13220910/29669078-eb4c2ab6-88a7-11e7-853b-059bc65a3ddb.png)

[2017-08-24 13:48] mwernimont commented on #163
Alright, I can look into that, just making them black is fine?

[2017-08-24 13:55] lindsaycarr commented on #163
Hmmmm I kind of like having them not black so that it stands out a bit more. Maybe a darker blue than what is there? I like the grey background, just need a darker text color to tell them apart.

[2017-08-24 13:57] mwernimont commented on #163
Can do!

[2017-08-24 16:07] mwernimont commented on #163
@lindsaycarr https://github.com/USGS-R/training-curriculum/pull/304

[2017-09-05 14:59] lindsaycarr commented on #131
https://internal.cida.usgs.gov/jira/browse/DATASCI-54

[2017-09-05 16:35] limnoliver opened #306 "geoknife: suggested changes"
## Accessible data

- [x] It's noted that users can upload their own shape files to GDP but that they will be wiped frequently. Can you explain when you want to choose this option? Just to do your task, and save output?

## Exercise 3

- [x] Just a note: I got a slightly different answer. My result from July 4 was `29.66275` using the following code:
`tx_fabric <- webdata(all_webdata['TopoWx: Topo

[2017-09-05 17:02] limnoliver opened #307 "geoknife: suggested editorial changes"
## Accessible Data

~- [ ] In Delaware example, there is commented code not being recognized as a comment (also one in the stencil section.~ being taken care of with styling in #303, #304, and #312

- [x] UNIWISC - not sure what this abbreviation is?

## Construct Calls

~- [ ] many code comments not being recognized as comments~ being taken care of with styling in #303, #304, and #312
- [x] This

[2017-09-05 17:47] limnoliver opened #308 "sbtools: suggested editorial changes"
## Introduction

- [x] "In this lesson, will teach how to interact with ScienceBase" to "In this lesson, you will learn how to interact with ScienceBase".

## Data Discovery
- [x] (in code comment) "# search using a contributors name" to "# search using a contributor's name"

~- some code comments not being recognized as comments.~ being taken care of with styling in #303, #304, and #312

## sbite

[2017-09-05 18:14] limnoliver opened #309 "sbtools: suggested edits"
## Data Discovery

~- [ ] `query_sb_spatial` examples not returning any results. Is this correct?~ it's a bug in `sbtools`, see #270

## sbitems

- [x] in the "Additional item descriptions" section, there is only one type of identifier listed in the differential heating link. Not sure what this example is supposed to show?
- [x] I found the "Additional item descriptions" to be a little confusing.

[2017-09-05 20:04] #165 closed

[2017-09-05 20:22] #131 closed

[2017-09-06 16:35] limnoliver opened #313 "application: suggested changes"
## Part 1

- [x] Where do you find the item id from the link? I see it's in the actual URL, is it posted anywhere on the actual item link?

## Part 2

- [x] The link in 'lesson to download NWIS data' is broken.
- [x] The geojob took a while (I think ~10 min) -- maybe this was just a fluke? Or this amount of time is okay?

[2017-09-06 16:35] limnoliver opened #314 "application: suggested editorial changes"
## Part 2
- You say the code to get sites and hucs is in part 5 (and is linked) -- but they were just introduced to this in part 1. Maybe link to this instead of going forward?

[2017-09-06 16:45] lindsaycarr commented on #302
Yeah, I felt like the tables were awesome but looking back now it was super helpful as I was still trying to figure out the best way to organize the information, but just adds a lot of extra stuff that is available elsewhere.

[2017-09-06 17:26] lindsaycarr commented on #300
Captured in #308 instead.

[2017-09-06 17:26] #300 closed

[2017-09-06 17:45] lindsaycarr commented on #313
Discussed this with Jordan Walker and we decided the 10 minutes was OK. I added a note to this indicated that it would take about 10, just so people have an idea.

[2017-09-06 18:00] lindsaycarr commented on #306
The slightly different answer is likely from our differing times - my time range includes 2 more hours than yours: `as.POSIXct(c("2007-07-04 12:01", "2007-07-05 11:59"), tz = "UTC")`

[2017-09-06 18:17] lindsaycarr commented on #309
@limnoliver could you try logging in and seeing what Exercise 1 returns? I get 15 again, and it might be that you are not logged in. If so, I'll add a note.

[2017-09-06 18:20] limnoliver commented on #309
@lindsaycarr yep - logging in fixed this and the code now returns 15 items. Is this because you have different access if you are logged in to SB?

[2017-09-06 18:21] lindsaycarr commented on #309
Yep, some of the items are "private" which means you need to be logged in to use them. Thanks for verifying! I will add a little note about that.

[2017-09-06 18:29] lindsaycarr opened #315 "links to exercises"
add links to exercises for dataRetrieval, geoknife, and sbtools to help people out

[2017-09-06 19:51] #301 closed

[2017-09-06 19:51] lindsaycarr commented on #302
Closed by #316

[2017-09-06 19:51] #302 closed

[2017-09-06 19:51] lindsaycarr commented on #306
Closed by #316

[2017-09-06 19:51] #306 closed

[2017-09-06 19:51] lindsaycarr commented on #307
Closed by #316

[2017-09-06 19:51] #307 closed

[2017-09-06 19:51] lindsaycarr commented on #308
Closed by #316

[2017-09-06 19:51] #308 closed

[2017-09-06 19:52] lindsaycarr commented on #309
Closed by #316

[2017-09-06 19:52] #309 closed

[2017-09-06 19:52] lindsaycarr commented on #313
Closed by #316

[2017-09-06 19:52] #313 closed

[2017-09-06 19:52] lindsaycarr commented on #315
Closed by #316

[2017-09-06 19:52] #315 closed

[2017-09-06 20:57] #293 closed

[2017-09-07 15:41] lindsaycarr commented on #257
@jiwalker-usgs keep forgetting where we left off on this - any thoughts?

[2017-09-07 16:56] lindsaycarr commented on #163
Closed by #318 and #319

[2017-09-07 16:56] #163 closed

[2017-09-07 17:44] lindsaycarr commented on #257
Closed by #320.

[2017-09-07 17:44] #257 closed

[2017-09-07 19:52] lindsaycarr opened #322 "add helping authors"
dataRetrieval: Laura DeCicco
geoknife: Jordan Walker
sbtools: Alison Appling
everything: Sam Oliver

[2017-09-07 20:39] lindsaycarr commented on #291
draft message ready

[2017-09-12 18:56] #269 closed

[2017-09-12 19:28] lindsaycarr commented on #291
Email sent 9/12 ~ 2:30 pm

[2017-09-12 19:28] #291 closed

[2017-09-14 13:18] lindsaycarr opened #324 "Announcement to others"
- previous attendees
- Bob Hirsch

[2017-09-14 13:26] lindsaycarr commented on #122
Nope, unless gsplot is going to be released in the future. Can re-open this then.

[2017-09-14 13:26] #122 closed

[2017-09-14 15:19] lindsaycarr commented on #322
added along with #102 in "Course Authors"

[2017-09-14 15:19] #322 closed

[2017-09-15 18:26] #195 closed

[2017-09-19 13:18] #288 closed

[2017-09-19 13:19] #314 closed

[2017-09-19 13:19] #102 closed

[2017-09-19 13:19] #123 closed

[2017-09-19 19:19] #324 closed

[2017-09-19 19:19] lindsaycarr commented on #324
Done! :heavy_check_mark:

[2017-09-26 13:52] lindsaycarr commented on #196
Sent by OED on 9/22

[2017-09-26 13:52] #196 closed

[2017-10-05 20:01] lindsaycarr opened #331 "image for merge conflicts is backwards + typo"
Drew in #software_dev USGS Slack pointed these out

![image](https://user-images.githubusercontent.com/13220910/31249725-fc6f62d4-a9dd-11e7-8030-f28a507da044.png)

there may be typo with 'independed' in the doc too

[2017-12-01 17:54] lindsaycarr opened #338 "add link to EPA's spatial course"
https://github.com/USEPA/rspatial_workshop

[2017-12-04 17:27] lindsaycarr opened #339 "Improve ggplot2 lesson"
Was a secondary plotting lesson, but now we use as the primary one.

Secondary axes guy is pushing on getting some critical ggplot2 issues fixed, and if they are we might want to redo this lesson.

[2017-12-04 17:28] lindsaycarr opened #340 "Incorporate a mapping lesson"
`sf` package ... @limnoliver has a good workflow from GLRI pesticide work.

[2018-02-02 20:55] wdwatkins opened #341 "mention citation function"
We should mention the `citation` function for packages, in the intro curriculum for using them and maybe in package dev so your own package can be cited?

[2018-05-08 21:44] ldecicco-USGS opened #347 "Update GRAN"
Still showing http instead of https

[2022-01-20 00:18] jesse-ross opened #362 "NOTICE: upcoming default branch name change"
The `master` branch of this repository will soon be renamed from `master` to `main`, as part of a coordinated change across the USGS-R and USGS-VIZLAB organizations.  This is part of a broader effort across the git community to use more inclusive language. For instance, [git](https://sfconservancy.org/news/2020/jun/23/gitbranchname/), [GitHub](https://github.com/github/renaming), and [GitLab](http

[2022-02-14 21:50] jesse-ross commented on #362
This repository has now been converted, and its default branch is now `main` instead of `master`. Please see above for instructions on how to adjust any forks and/or clones you have.

@PatrickEslick, @R4GIS, @tectronics, @jhollist, @limnoliver, @jread-usgs, @ayan-usgs, @wdwatkins, @eread-usgs, @jiwalker-usgs, @ldecicco-USGS, @mwernimont, @aappling-usgs, @lindsayplatt, please note that you have for